@import "src/styles/colors";
.postsHeader {
  border-bottom: $border-dark;
  background-color: $color-bg;
  padding: 0.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  min-height: 80px;
  z-index: 2;
}
.justifyEnd {
  justify-content: end;
}
.justifySpaceBetween {
  justify-content: space-between;
}
