@import "src/styles/colors";

.pagination {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  border-top: $border-dark;
  position: sticky;
  bottom: 0;
  background-color: $color-bg;
  .item {
    cursor: pointer;
    margin-right: 2px;
    width: 42px;
    height: 42px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50%;
    border: $border-dark;
    color: white;
    text-align: center;
    &:hover {
      background-color: rgba($color: $color-dark-gray, $alpha: 0.2);
    }
  }
  .activePage {
    background-color: rgba($color: $color-dark-gray, $alpha: 0.2);
  }
  .inactivePage {
    background-color: $color-bg;
  }
}
